#更新api排序
name: update randapi

on: 
  workflow_dispatch:
  release:
    types: [published]
  push:
    tags:
    - 'v*'
  #  branches: 
  #    - master
  schedule:
    - cron: '45 2 15 * *'
  watch:
    types: [started]
    
jobs:
  build:
    runs-on: ubuntu-latest
    #if: github.event.repository.owner.id == github.event.sender.id  # 自己点的 start
    #if: github.event.sender.id == 'linbei0cjw' || 'bradly0cjw'
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: Set up Python #安装python
      uses: actions/setup-python@v1
      with:
        python-version: 3.6
    - name: Update randapi #更新api排序
      run: | 
        python updaterand.py
    - name: Commit #上传新的排序到仓库
      run: |
        git filter-branch -f --env-filter "
        GIT_AUTHOR_NAME='bradly0cjw'
        GIT_AUTHOR_EMAIL='bradly093@gmail.com'
        GIT_COMMITTER_NAME='bradly0cjw'
        GIT_COMMITTER_EMAIL='bradly093@gmail.com'
        " HEAD
        git config --global user.email bradly093@email.com
        git config --global user.name bradly0cjw
        git add .
        git commit -m "update new randapi" -a
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
